.header.border-0.p-0
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    a.navbar-brand(href="/") CTS
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href="/market").btn.navbar-text.font-weight-bold Market
      if isConnected
        ul.navbar-nav
          li.nav-item
            a.nav-link(href="/wallet").btn.navbar-text.font-weight-bold Wallet
          li.nav-item
            a.nav-link(href="/historic").btn.navbar-text.font-weight-bold Transaction History
          li.nav-item
            a.nav-link(href="/profile").btn.navbar-text.font-weight-bold Profile
          li.nav-item
            a.nav-link(href="/logout").btn.navbar-text.font-weight-bold Logout
      else
        ul.navbar-nav
          li.nav-item.mr-2
            a.nav-link(href="/login").navbar-text Login
          li.nav-item
            a(href="/sign-up")
              button.btn.btn-outline-success.font-weight-bold Signup
