.header.border-0.p-0
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    a.navbar-brand(href="/") CTS
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href="/market") Marché
      if isConnected
        ul.navbar-nav
          li.nav-item
            a.nav-link(href="/wallet") Portefeuille
          li.nav-item
            a.nav-link(href="/historic") Historique
          li.nav-item
            a.nav-link(href="/profile") Profile
          li.nav-item
            a.nav-link(href="/logout") Déconnexion
      else
        ul.navbar-nav
          li.nav-item.mr-2
            a.nav-link(href="/login").navbar-text Connexion
          li.nav-item
            a(href="/sign-up")
              button.btn.btn-outline-success.font-weight-bold Inscription