extends layouts/default
block head
  - var title = 'Historique - CTS';
  include includes/head

block content
    div.row.justify-content-center.mt-5
      div.col-sm-12.col-md-10
        div.card.bg-dark.text-white
          div.card-header
            h2.m-0 Historique de mes transactions
          div.card-body
            div.row
              div.col-12
                table.table.table-striped.table-bordered.table-dark.table-hover
                  thead
                    tr
                      th Nom
                      th Valeur acheté
                      th Valeur en euros
                      th ID de la transaction
                      th Date
                      th Informations
                  tbody
                    tr
                      th.align-middle BTC
                      th.align-middle 0,0000034
                      th.align-middle 56,89 €
                      th.align-middle IZIJNAZJNO2139183
                      th.align-middle 12/07/17 12:34
                      th
                        a.btn.btn-info.btn-sm Détails
                    tr
                      th.align-middle BTC
                      th.align-middle 0,00040099
                      th.align-middle 360,89 €
                      th.align-middle IZIOIOOIKNOAINOINA
                      th.align-middle 12/07/17 12:34
                      th
                        a.btn.btn-info.btn-sm Détails
                    tr
                      th.align-middle BTC
                      th.align-middle 0,0000034
                      th.align-middle 68,24 €
                      th.align-middle IZIJ12121JIBIUZGDZZ
                      th.align-middle 12/07/17 12:34
                      th
                        a.btn.btn-info.btn-sm Détails
                    tr
                      th.align-middle BTC
                      th.align-middle 0,0000034
                      th.align-middle 56,89 €
                      th.align-middle IZIJNAZJNO121212DD
                      th.align-middle 13/08/17 12:34
                      th
                        a.btn.btn-info.btn-sm Détails
                    tr
                      th.align-middle BTC
                      th.align-middle 0,0000034
                      th.align-middle 56,89 €
                      th.align-middle IZIJNA0809KJNKUJH
                      th.align-middle 12/07/17 12:34
                      th
                        a.btn.btn-info.btn-sm Détails