extends layouts/default
block page-header
block content
  div.row.justify-content-md-center.mt-5
    div.col-4
      div.card.text-white.bg-dark.col-sm
        div.card-header Mon portefeuille CTS
        div.card-body
          div.row
            p Valeur de mes placements en BTC :
          div.row
            h4 0,0300210020 €
        div.card-footer.text-muted.text-right Mise à jour : Aujourd'hui à 10:48.

    div.col-4
      div.card.text-white.bg-dark.col-sm
        div.card-header Mon solde
        div.card-body
          div.row
            div.col-4
              h4 637, 66 €
            div.col-8
              a.btn.btn-success.mr-4 Recharger mon compte
              a.btn.btn-success Retrait
        div.card-footer.text-muted.text-right Mise à jour : Aujourd'hui à 10:48.

  div.row.justify-content-md-center.mt-4
    div.col-8
      div.card.text-white.bg-dark.col-sm
        div.card-header Mon historique
        div.card-body
          div.row
            div.col
              p Valeur estimée en BTC : 0,0300210020

