doctype html
html(lang="en")
  block head
    include ../includes/head

  body.p-0
    include ../includes/header
    .container-fluid
      .page-header
        block page-header
      .messages
        include ../includes/messages
      .content
        block content
  block footer
    include ../includes/footer

  block foot
    include ../includes/foot
